<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Calapenia Luis</title>
</head>
<body>
<h1>seleccione la operacion a realizar</h1>

<ul>
    <li><a href="calculoFactorial?num1=4">Factorial de un numero</a></li>
	<li><a href="calculoBisiesto?num1=2008">Año bisiesto</a></li>
	<li><a href="calculoPar?num1=2008"> Numero Par</a></li>
	<li><a href="calculoMes?num1=12">Calculo mes</a></li>
	<li><a href="calculoMes2?num1=13">Calculo mes</a></li>
	<li><a href="calculoCalificacion?num1=8">Calculo Calificacion</a></li>
	<li><a href="calculoMultiplos?num1=8">Multiplos de un numero hasta llegar a 100</a></li>
	<li><a href="calculoRestante1?num1=320">Estructura For</a></li>
	<li><a href="calculoRestante2?num1=320">Estructura While</a></li>
	<li><a href="calculoRestante3?num1=320">Estructura Do-While</a></li>
	<li><a href="calculoTiempo?num1=320">Calculo de Caida Libre</a></li>
</ul>

</body>
</html>